<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
    <div  th:fragment="sliders" data-am-widget="slider" class="am-slider am-slider-b2" data-am-slider='{&quot;controlNav&quot;:false}'>
    <ul class="am-slides">
        <li>
            <img src="https://mingbizblog.oss-cn-beijing.aliyuncs.com/public/user/avatar/wellfuture/1.jpg">
        </li>
        <li>
            <img src="https://mingbizblog.oss-cn-beijing.aliyuncs.com/public/user/avatar/wellfuture/1.jpg">
        </li>

    </ul>
</div>
</html>