<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>易好开发</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="博客,个人,学习,IT,生活,易好开发,APP开发,小程序开发,springboot,java,后端">
    <meta name="description" content="易好开发，爱编程。喜欢旅行、摄影、爱生活。专注于Spring,SpringBoot等后端技术探索，以及MySql,Oracle数据库开发和SSM,SSH等后端流行框架学习。">

    <link rel="icon" type="image/x-icon" href="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/favicon.ico">
    <link href="https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link href="https://lib.baomitu.com/font-awesome/5.8.0/css/fontawesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/plugs_paging.css">

    <script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="js/lastUrl.js"></script>
    <script src="https://lib.baomitu.com/amazeui/2.7.2/js/amazeui.min.js"></script>

</head>
<body>
<div id="app">

    <div class="header">
        <div class="am-topbar" style="margin-bottom: 0">
            <h1 class="am-topbar-brand">
                <a href="/" class="blogTitleName">
                    <img id="weblog" src="https://mingbizblog.oss-cn-beijing.aliyuncs.com/public/user/avatar/wellfuture/1569397611.jpeg" class="imgStyle">
                    <span id="webname"></span></a>
            </h1>
            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" style="background-color: #CCCCCC;border-color: white;border-radius: 6px" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
            <div id="personal-card" class="am-dropdown am-show-md-down" data-am-dropdown style="float: right">
                <button id="personal-card-btn" class="am-btn am-btn-success am-dropdown-toggle" style="padding: 0"><img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/weixin.jpg"><span class="am-icon-caret-down"></span></button>
                <div class="am-dropdown-content">
                    <div class="personal-card-show" style="text-align: center">
                        <div class="personal-card-show-img">
                            <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/weixin.jpg">
                        </div>
                        <div class="personal-card-show-name">
                            <h4 style="font-weight: 500">易好开发</h4>
                        </div>
                        <div class="personal-card-show-words">
                            <small style="font-size: 13px;color: #808080ad;" id="solgans"></small>
                        </div>
                        <div class="personal-card-show-connection" style="margin-top: 10px">
                            <span class="am-icon-weixin">微信：ningboyihao</span><br>
                            <span  class="am-icon-qq">QQ：574574</span><br>
                        </div>
                        <div class="personal-card-show-attention_btn">
                            <button class="myCardBtn am-btn am-btn-secondary am-round attention_btn" data-am-offcanvas="{target: '#doc-oc-demo1'}" style="margin-top: 10px">扫描二维码关注我</button>
                        </div>
                        <!--名片左侧栏-->
                        <div id="doc-oc-demo1" class="am-offcanvas">
                            <div class="am-offcanvas-bar">
                                <div class="am-offcanvas-content">
                                    <div class="halving-line">
                                        <i class="am-icon-hand-o-down " ></i>
                                        <i class="am-icon-hand-o-down " ></i>
                                        <i class="am-icon-hand-o-down " ></i>
                                    </div>
                                    <div class="halving-line-words">
                                        <p>Link </p>
                                    </div>
                                    <hr data-am-widget="divider" style="width: 50%" class="am-divider am-divider-dashed" />
                                    <div class="zhy-qq-weixin">
                                        <div class="zhy-qq-box">
                                            <p>QQ</p>
                                            <img src=""  class="qq_code am-img-thumbnail am-radius">
                                        </div>
                                        <div class="zhy-weixin-box">
                                            <p>微信</p>
                                            <img src=""  class="weixin_code am-img-thumbnail am-radius">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="personal-card-show-ico">
                            <hr style="margin-top: 10px">
                            <div>
                                <div class="am-u-sm-3"><a href="#" target="_blank" class="am-icon-github am-icon-sm" title="GitHub" style="color: #337ab7"></a></div>
                                <div class="am-u-sm-3"><a href="#" class="am-icon-gg am-icon-sm" target="_blank" title="码云" style="color: #337ab7"></a></div>
                                <div class="am-u-sm-3"><a href="#" target="_blank" class="am-icon-weibo am-icon-sm" title="微博" style="color: #337ab7"></a></div>
                                <div class="am-u-sm-3"><a href="#" target="_blank" title="" style="color: #337ab7">
                                    <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/yilinglogo.png" style="width: 25px">
                                </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
                <span th:replace="front_public/menu"></span>
                <span th:replace="front_public/topmenuright"></span>
            </div>
        </div>
        <span th:replace="front_public/sliders"></span>
    </div>
    <!--页面主体-->
    <div id="main" style="margin-top: 16px">
        <div class="am-g">
            <div class="am-u-sm-12 am-u-lg-9">
                <div class="radioBroadcast">
                    <i class="am-icon-volume-up" style="margin-left: 10px;color: #fbd602"></i>
                    <div class="roll">
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="am-g">
            <div class="am-u-sm-12 am-u-lg-3 am-hide-md-down">
                <div id="left">
                    <div class="myCard">
                        <div class="am-g">
                            <div class="am-u-sm-5">
                                <div class="img-title">
                                    <img class="img" src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/loading.gif" data-src="https://mingbizblog.oss-cn-beijing.aliyuncs.com/public/user/avatar/wellfuture/1569397611.jpeg">
                                </div>
                            </div>
                            <div class="am-u-sm-7" style="padding: 0 20px 0 0;">
                                <div class="img-words">
                                    <h3 id="name">易好开发</h3>
                                    <small style="font-size: 13px;color: #808080ad" id="solgan"></small>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div id="connection" style="font-size: 14px">
                            <span >微信：ningboyihao</span><br>
                            <span >QQ：574574</span><br>
                            <div id="follow">
                                <button class="myCardBtn am-btn am-btn-secondary am-round attention_btn" data-am-offcanvas="{target: '#doc-oc-demo2', effect: 'push'}">扫描二维码关注我</button>
                            </div>
                            <!--左侧栏-->
                            <div id="doc-oc-demo2" class="am-offcanvas">
                                <div class="am-offcanvas-bar">
                                    <div class="am-offcanvas-content">
                                        <p id="solganss">
                                        </p>
                                        <div class="halving-line-words">
                                            <p>联系我们<br>请加好友跟我们交流</p>
                                        </div>
                                        <hr data-am-widget="divider" style="width: 50%" class="am-divider am-divider-dashed" />
                                        <div class="zhy-qq-weixin">
                                            <div class="zhy-qq-box">
                                                <p>QQ</p>
                                                <img src=""  class="qq_code am-img-thumbnail am-radius">
                                            </div>
                                            <div class="zhy-weixin-box">
                                                <p>微信</p>
                                                <img src=""  class="weixin_code am-img-thumbnail am-radius">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="icons-row">
                            <div class="icons">
                                <div class="icon">
                                    <a href="https://github.com/yihaocompany" target="_blank" class="am-icon-github am-icon-md " title="GitHub" data-am-popover="{content: 'GitHub', trigger: 'hover focus'}"></a>
                                </div>
                                <div class="icon">
                                    <a href="https://gitee.com/ooooinfo" class="am-icon-gg am-icon-md" target="_blank" title="码云" data-am-popover="{content: '码云', trigger: 'hover focus'}"></a>
                                </div>
                                <div class="icon">
                                    <a href="https://weibo.com/5313691144" target="_blank" class="am-icon-weibo am-icon-md" title="微博" data-am-popover="{content: '微博', trigger: 'hover focus'}"></a>
                                </div>
                                <div class="icon">
                                    <a href="https://blog.csdn.net/swpu_ocean" target="_blank" title="CSDN"><img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/csdn.jpg" style="width: 30px" data-am-popover="{content: 'CSDN', trigger: 'hover focus'}"></a>
                                </div>
                                <div class="icon">
                                    <a href="http://www.ming.biz" target="_blank" title="yihao"><img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/yilinglogo.png" style="width: 30px" data-am-popover="{content: '翼灵物联工作室', trigger: 'hover focus'}"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="new-comment">
                        <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
                            <div class="am-list-news-hd am-cf">
                                <a class="newComments">
                                    <h2>最新评论</h2>
                                </a>
                            </div>
                            <div class="am-list-news-bd">
                                <ul class="am-list">
                                    <li class="am-g am-list-item-dated" style="height: 62px">

                                    </li>
                                    <li class="am-g am-list-item-dated" style="height: 62px">

                                    </li>
                                    <li class="am-g am-list-item-dated" style="height: 62px">

                                    </li>
                                    <li class="am-g am-list-item-dated" style="height: 62px">

                                    </li>
                                    <li class="am-g am-list-item-dated" style="height: 62px">

                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="new-leaveWord">
                        <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
                            <div class="am-list-news-hd am-cf">
                                <a class="newLeaveWord">
                                    <h2>最新留言</h2>
                                </a>
                            </div>
                            <div class="am-list-news-bd">
                                <ul class="am-list">
                                    <li class="am-g am-list-item-dated" style="height: 62px">

                                    </li>
                                    <li class="am-g am-list-item-dated" style="height: 62px">

                                    </li>
                                    <li class="am-g am-list-item-dated" style="height: 62px">

                                    </li>
                                    <li class="am-g am-list-item-dated" style="height: 62px">

                                    </li>
                                    <li class="am-g am-list-item-dated" style="height: 62px">

                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="showArticle am-u-sm-12 am-u-lg-6">
                <div class="articles">
                    <div class="center">
                        <div class="empty">
                            <header class="article-header">
                                <h1 itemprop="name">
                                    <a class="article-title" href="#" target="_blank">&nbsp;</a>
                                </h1>
                                <div class="article-meta row">
                                    <span class="articleType am-badge am-badge-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                                </div>
                            </header>
                            <div class="article-entry" style="height: 200px">
                            </div>
                            <div class="read-all">
                                <a href="#" target="_blank">阅读全文 <i class="am-icon-angle-double-right"></i></a>
                            </div>
                            <hr>
                            <div class="article-tags">
                                <i class="am-icon-tag"><a class="tag" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;</a></i>
                                <i class="am-icon-tag"><a class="tag" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;</a></i>
                                <!--<span class="likes"><i class="am-icon-heart"> 个喜欢</i></span>-->
                            </div>
                        </div>
                    </div>
                    <div class="center">
                        <div class="empty">
                            <header class="article-header">
                                <h1 itemprop="name">
                                    <a class="article-title" href="#" target="_blank">&nbsp;</a>
                                </h1>
                                <div class="article-meta row">
                                    <span class="articleType am-badge am-badge-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                                </div>
                            </header>
                            <div class="article-entry" style="height: 200px">
                            </div>
                            <div class="read-all">
                                <a href="#" target="_blank">阅读全文 <i class="am-icon-angle-double-right"></i></a>
                            </div>
                            <hr>
                            <div class="article-tags">
                                <i class="am-icon-tag"><a class="tag" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;</a></i>
                                <i class="am-icon-tag"><a class="tag" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;</a></i>
                            </div>
                        </div>
                    </div>
                    <div class="center">
                        <div class="empty">
                            <header class="article-header">
                                <h1 itemprop="name">
                                    <a class="article-title" href="#" target="_blank">&nbsp;</a>
                                </h1>
                                <div class="article-meta row">
                                    <span class="articleType am-badge am-badge-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                                </div>
                            </header>
                            <div class="article-entry" style="height: 200px">
                            </div>
                            <div class="read-all">
                                <a href="#" target="_blank">阅读全文 <i class="am-icon-angle-double-right"></i></a>
                            </div>
                            <hr>
                            <div class="article-tags">
                                <i class="am-icon-tag"><a class="tag" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;</a></i>
                                <i class="am-icon-tag"><a class="tag" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;</a></i>
                            </div>
                        </div>
                    </div>
                    <div class="center">
                        <div class="empty">
                            <header class="article-header">
                                <h1 itemprop="name">
                                    <a class="article-title" href="#" target="_blank">&nbsp;</a>
                                </h1>
                                <div class="article-meta row">
                                    <span class="articleType am-badge am-badge-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                                </div>
                            </header>
                            <div class="article-entry" style="height: 200px">
                            </div>
                            <div class="read-all">
                                <a href="#" target="_blank">阅读全文 <i class="am-icon-angle-double-right"></i></a>
                            </div>
                            <hr>
                            <div class="article-tags">
                                <i class="am-icon-tag"><a class="tag" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;</a></i>
                                <i class="am-icon-tag"><a class="tag" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;</a></i>
                            </div>
                        </div>
                    </div>
                    <div class="center">
                        <div class="empty">
                            <header class="article-header">
                                <h1 itemprop="name">
                                    <a class="article-title" href="#" target="_blank">&nbsp;</a>
                                </h1>
                                <div class="article-meta row">
                                    <span class="articleType am-badge am-badge-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                                </div>
                            </header>
                            <div class="article-entry" style="height: 200px">
                            </div>
                            <div class="read-all">
                                <a href="#" target="_blank">阅读全文 <i class="am-icon-angle-double-right"></i></a>
                            </div>
                            <hr>
                            <div class="article-tags">
                                <i class="am-icon-tag"><a class="tag" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;</a></i>
                                <i class="am-icon-tag"><a class="tag" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;</a></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-row" id="page-father">
                    <div id="pagination">
                        <ul class="am-pagination  am-pagination-centered">
                            <li class="am-disabled"><a href="#">&laquo; 上一页</a></li>
                            <li class="am-active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">下一页 &raquo;</a></li>
                        </ul>
                    </div>
                </div>
                <div class="new-comment am-show-sm-only">
                    <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
                        <div class="am-list-news-hd am-cf">
                            <a class="">
                                <h2>最新评论</h2>
                            </a>
                        </div>
                        <div class="am-list-news-bd">
                            <ul class="am-list">
                                <li class="am-g am-list-item-dated" style="height: 62px">

                                </li>
                                <li class="am-g am-list-item-dated" style="height: 62px">

                                </li>
                                <li class="am-g am-list-item-dated" style="height: 62px">

                                </li>
                                <li class="am-g am-list-item-dated" style="height: 62px">

                                </li>
                                <li class="am-g am-list-item-dated" style="height: 62px">

                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="new-leaveWord am-show-sm-only">
                    <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
                        <div class="am-list-news-hd am-cf">
                            <a class="">
                                <h2>最新留言</h2>
                            </a>
                        </div>
                        <div class="am-list-news-bd">
                            <ul class="am-list">
                                <li class="am-g am-list-item-dated" style="height: 62px">

                                </li>
                                <li class="am-g am-list-item-dated" style="height: 62px">

                                </li>
                                <li class="am-g am-list-item-dated" style="height: 62px">

                                </li>
                                <li class="am-g am-list-item-dated" style="height: 62px">

                                </li>
                                <li class="am-g am-list-item-dated" style="height: 62px">

                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="site-info am-show-sm-only">
                    <h5 class="site-title">
                        <i class="am-icon-info site-icon"></i>
                        <strong style="margin-left: 15px">网站信息</strong>
                    </h5>
                    <ul class="site-default" style="height: 200px">

                    </ul>
                </div>
            </div>
            <div class="am-u-sm-12 am-u-lg-3">
                <div id="right">

                    <h3 class="widget-title">公告</h3>
                    <div class="widget">
                        <div class="bg-danger">
                            <div class="zhy-info">
                                <i class="am-icon-quote-left" style="float: left"></i><br>
                                <div class="zhy-info-day">

                                </div>
                                <i class="am-icon-quote-right" style="float: right"></i>
                                <div class="zhy-info-opinion">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="myStory" >
                        <div class="bg-myStory">
                            <div><a class="bg-myStory-a" href="/mystory">技术开发日志</a></div>
                        </div>
                        <div class="myStory-words"></div>
                    </div>
                    <div class="myStory" >
                        <div class="bg-myGirl">
                            <div><a class="bg-myGirl-a" href="#" target="_blank">技术开发日志</a></div>
                        </div>
                        <div class="myStory-words"></div>
                    </div>

                    <div class="tag-cloud">
                        <h3 class="widget-title">标签云</h3>
                        <div class="widget-tag-cloud">
                            <span>暂无标签</span>
                        </div>
                    </div>

                    <div class="site-info am-hide-sm-only">
                        <h5 class="site-title">
                            <i class="am-icon-info site-icon"></i>
                            <strong style="margin-left: 15px">网站信息</strong>
                        </h5>
                        <ul class="site-default" style="height: 200px">

                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!--引入共有底部-->
    <div th:replace="footer :: footer"></div>
    <!--消息盒子+反馈-->
    <div th:replace="other :: other"></div>
</div>

<script src="js/index.js"></script>
<script src="js/all.js"></script>
<script src="js/plugs_paging.js"></script>
</body>
</html>